.main {
  align-items: center;
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 0 auto;
  padding-top: 3.444rem;
  text-align: center;
}

.logo {
  background: url(../assets/desktop/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 3.111rem;
  width: 7.5rem;
}

.hero {
  margin: 3.111rem 0;
}

.hero__header {
  margin-bottom: 1.5rem;
}

.hero__text {
  color: var(--light-grey-blue);
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 2.2rem;
}

.hero__title--white {
  color: var(--white);
}

.hero__footer {
  display: flex;
  flex-direction: column-reverse;
}

.hero__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.form__input > * {
  margin-bottom: 1rem;
}

.hero__form > * {
  margin-bottom: 1rem;
}

.business__logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.b__logo {
  width: 20%;
}

@media screen and (min-width: 768px) {
  .main {
    align-items: initial;
    text-align: left;
  }

  .hero {
    background-color: var(--light-black);
    width: 90%;
    align-self: flex-start;
    padding-top: 5.83rem;
    margin-top: 9.5rem;
  }

  .hero__text {
    width: 75%;
  }

  .hero__footer {
    flex-direction: column;
  }

  .business__logos {
    margin: 0;
    align-items: flex-end;
    width: 85%;
  }

  .hero__form {
    margin-bottom: 4.8rem;
    width: 70%;
    vertical-align: middle;
  }

  .hero__form .input {
    /* position: absolute; */
    width: 100%;
    margin: 0;
  }

  .hero__form .btn {
    padding: 0.8rem 1rem;
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 960px) {
  .container {
    margin-left: 9.2rem;
  }
  .hero {
    margin-top: 5.72rem;
    width: 50%;
  }
}
